.LatestPostHead {
  color: white;
  width: 80%;
  margin: 40px;
}

.LatestPostHead p {
  margin: 10px auto;
  font-family: Cairo;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 45px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.LatestPostHead hr {
  background: #303c42;
  height: 2px;
  border: none;
}
