.newPost {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 20%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: #242526;
  border-radius: 20px;
}

.profilePicture {
  height: 70%;
  width: 50%;
  background-color: #3a3b3c;
  border-radius: 100px;
  display: flex;
  align-items: center;
}

.profilePicture img {
  height: 85%;
  width: 100%;
}

.newPost h1 {
  color: white;
  font-weight: lighter;
  font-size: 24px;
}
