.externalLinkLayout {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1/3fr 1/3fr 1/3fr;
    grid-row-gap: 5px;
}

.GridSystem {
    display: grid;
    grid-template-columns: 90% 10%;
    background: #242526;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 15px 20px 15px 10px;
    align-items: center;
    text-align: center;
    padding-left: 55px;
    padding-right: 55px
}

.EditOption p {
    font: Cairo;
    font-weight: 400;
    color: white;
}