.cover {
  background: #18191a;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePicture {
  background: #3a3b3c;
  border: 5px solid #18191a;
  box-shadow: 8px 8px 65px 30px rgba(0, 0, 0, 0.25);
  border-radius: 300px;
  width: 14.5%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePicture img {
  border-radius: 300px;
  width: 100%;
  height: 100%;
}

.plusSymbolPicture {
  width: 55px;
  height: 55px;
  position: relative;
}

.plusSymbol {
  width: 100%;
  height: 100%;

  position: absolute;
  right: 100%;
  top: 100%;

  background: rgba(76, 175, 80, 0.15);
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.cameraSymbol {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  margin-left: 30px;
  z-index: 3;
}

.cameraSymbolPicture {
  width: 55px;
  height: 55px;
}