@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

.flexLayout {
  display: flex;
}

.layoutClass {
  display: grid;
  grid-template-rows: 38% 22% 40%;
  background-color: #18191a;
  font-family: Cairo;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

.top {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.topRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topRow h1 {
  font-size: 1.5em;
  color: #ffffff;
}

.topRow p {
  font-size: 1.25em;
  color: #ffffff;
}

.middle {
  margin: 10px;
  border-bottom: 0.25px solid #ffffff;
}

.middle p {
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
}

.bottom {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.activities {
  margin-left: 10px;
}

.activities p {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.interests {
  margin-left: 10px;
}

.interests p {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.userNameStyling {
  display: grid;
  grid-template-columns: 90% 10%;
  padding: auto;
  margin: 0;
}

.editOptionButton {
  display: flex;
  float: right;
  /* padding-right: 20px; */
  justify-content: center;
  text-align: center;
  margin: auto;
}