.contentBody {
    margin: 25px 20%;
    margin-right: 35%;
}

.contentBody div.removeFocus {
    background: #263238;
    border: 0px;
    border-style: none;
    font-family: inherit;
    font-size: 32px;

    color: white;
    width: 65vw;
    display: block;
    height: 40px;
    overflow: visible;
    resize: both;
    min-height: 48px;
    line-height: 60px;  
}

.contentBody div.removeFocus::placeholder {
    color: white;
    font-family: inherit;
    font-size: 32px;  
    padding: 15px 6px;
}

.contentBody div.removeFocus:active, 
.contentBody div.removeFocus:hover, 
.contentBody div.removeFocus:focus {
    border-style: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.removeFocus:focus {
    outline: -webkit-focus-ring-color none 0px;
    outline-color: -webkit-focus-ring-color;
    outline-style: none;
    outline-width: 0px;
}

.contentBody div.removeFocus[contentEditable]:empty::before {
    content: "Content goes here...";
    /* color: gray;
    background: #263238; */
}

[contentEditable=true]:empty:before{
    content: attr(aria-placeholder);
    display: block; /* For Firefox */
    background: #263238;
}
  
  /* */
  
  .contentBody div.removeFocus[contentEditable=true] {
    font-family: inherit;
    -webkit-appearance: textfield;
    /* padding: 5px; */
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    line-break: auto;
}

div.contentBody div.removeFocus div {
    background: #263238;
}
  