.contentBody {
    margin: 25px 20%;
    margin-right: 35%;
    max-height: 100%;
}

.contentBody textarea::-webkit-scrollbar {
    display: none;
  }  

.contentBody textarea.removeFocus {
    background: #263238;
    border: 0px;
    border-style: none;
    font-family: inherit;
    font-size: 40px;

    color: white;
    width: 65vw;
    display: block;
    height: 500px;
    overflow: visible;
    resize: both;
    min-height: 48px;
    line-height: 60px;  

    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

.contentBody textarea.removeFocus::placeholder {
    color: white;
    font-family: inherit;
    font-size: 40px;  
    padding: 15px 6px;
    justify-content: center;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.contentBody textarea.removeFocus:active, 
.contentBody textarea.removeFocus:hover, 
.contentBody textarea.removeFocus:focus {
    border-style: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.removeFocus:focus {
    outline: -webkit-focus-ring-color none 0px;
    outline-color: -webkit-focus-ring-color;
    outline-style: none;
    outline-width: 0px;
}

.contentBody textarea.removeFocus[contentEditable]:empty::before {
    content: "Content goes here...";
    /* color: gray;
    background: #263238; */
}

[contentEditable=true]:empty:before{
    content: attr(aria-placeholder);
    display: block; /* For Firefox */
    background: #263238;
}
  
  /* */
  
  .contentBody textarea.removeFocus[contentEditable=true] {
    font-family: inherit;
    -webkit-appearance: textfield;
    /* padding: 5px; */
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    line-break: auto;
}

textarea.contentBody textarea.removeFocus textarea {
    background: #263238;
}
  