@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

.main {
    /* Height and width fallback for older browsers. */
    /* height: 100%; */
    /* width: 100%; */

    /* Set the height to match that of the viewport. */
    height: 90vh;

    /* Set the width to match that of the viewport. */
    width: 90vw;

    /* Remove any browser-default margins. */
    margin: 0;    
}

.main form, .main label, .main div {
    border: 0;
    border-style: none;
}

.main {
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.main hr {
    width: 65vw;
    margin: 50px 32vw 50px 20%;
    background-color: #303C42;
    border: 1.5px solid #303C42;
    box-shadow: #303C42;
}
