@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

*{
    padding: 0;
    margin:0;
}

.navbar-grid {
    color: #242526;
    font-family: 'Cairo', sans-serif;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 12% 12% 10% 26% 10% 15% 5% 5% 14%;
    background-color: #242526;
    max-width: 100%;
    overflow: hidden;
    padding: 0 2rem;
    margin: 0px;
}

.navbar-items {
    padding: 0.7rem;
    margin: 0;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.navbar-logo
{
    align-items: flex-end;
    text-align: center;
    justify-content: flex-end;
}

.navbar-logo img
{
    width: 70px;
    height: 70px;
}


.search-hashtag
{
    margin: 0;
    padding: 0;
    align-items: flex-end;
    overflow: hidden;
    text-align: center;
}

.search-hashtag img
{
    height: 43.5px;
    width: 50px;
    margin-top: 18px;
    margin-left: 100px;
    padding: 0px;
    background-color: grey;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.search-users
{
    margin: 0;
    padding: 0;
    align-items: flex-start;
    overflow: hidden;
    text-align: center;
}

.search-users img
{
    height: 43.5px;
    width: 50px;
    margin-top: 18px;
    margin-right: 125px;
    padding: 0px;
    background-color: grey;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}



.navbar-title {
    text-size-adjust: auto;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    color: #fff;
    display: flex;
    overflow: hidden
}

.navbar-search {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-search input[type=text] {
    font-size: 20px;
    color: darkslategrey;
    background-color: white;
    background-image: url('../../src/assets/img/icon/Search.svg');
    background-repeat: no-repeat;
    width: 350px;
    height: 41px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin: 0;
    padding-left: 50px;
    float: left;
}

input[type="text"]::placeholder {
    padding-left: 60px;
}

input::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 3;
}

.navbar-control-1 {
    display: flex;
    justify-content: flex-start;
    color: white;
    overflow: hidden;
    padding-left: 70px;
}

h3 {
    color: whitesmoke;
    font-size: 17px;
    padding-left: 10px;
}

.controls-img {
    width: 40px;
    height: 40px;
    justify-content: flex-start;
}

.profile-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: flex-start;
}

.navbar-other-controls
 {
    display: flex;
    justify-content: flex-start;
    color: white;
    overflow: hidden;
}
