.likeToggle {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-end-start-radius: 20px;
}

.likeToggle h1 {
  font-size: 16px;
  font-weight: lighter;
}


.active {
  transition: 0.5s;
  background-color: white;
}

.active h1 {
  color: black;
}