.likeToggle {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0px 0px 0px 20px;
}

.likeToggle h1 {
  font-size: 16px;
  font-weight: lighter;
}

.notActive {
  background-color: #242526;
  transition: background-color 0.5s;
}

.active {
  background-color: white;
  transition: background-color 0.5s;
}

.active h1 {
  color: black;
}