.main {
  display: grid;
  grid-template-rows: 85% 15%;
  background-color: #131314;
  border-radius: 20px;
  margin-bottom: 16px;
}

.postBody {
  display: grid;
  grid-template-rows: 25% 75%;
}

.postDescription {
  display: grid;
  grid-template-columns: 10% 90%;
}

.profilePicture {
  height: 85%;
  width: 50%;
  background-color: #3a3b3c;
  border-radius: 100px;
  display: flex;
  align-items: center;
}

.profilePicture img {
  height: 80%;
  width: 100%;
}

.postTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.postTitle h1,
.postTitle h2,
.postText p {
  color: white;
  font-weight: lighter;
}

.postTitle h1 {
  font-size: 16px;
}

.postText {
  display: grid;
  grid-template-rows: 20% 80%;
  margin: 1em;
}

.postText h1 {
  color: white;
}

.postText p {
  font-size: 16px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #242526;
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;
}

.stats h1 {
  color: #9f9f9f;
  font-size: 16px;
  font-weight: lighter;
}
