.content {
  margin: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content::-webkit-scrollbar {
  display: none;
}

.postRow {
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #18191a;
}
