.entry {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 30% 70%;
  background-color: #242526;
  border-radius: 25px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.header h1 {
  color: white;
}

.main {
  display: grid;
  grid-template-columns: 40% 60%;
}

.profilePicture {
  height: 50%;
  width: 60%;
  background-color: #3a3b3c;
  border-radius: 100px;
  display: flex;
  align-items: center;
}

.profilePicture img {
  height: 85%;
  width: 100%;
}

.profileBody {
  display: grid;
  grid-template-rows: 30% 70%;
}

.profileTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1em;
}

.profileTitle h1,
.profileTitle h2,
.profileText h1,
.profileText p {
  color: white;
  font-weight: lighter;
}

.profileTitle h1 {
  font-size: 14px;
}

.profileTitle h2 {
  font-size: 14px;
}

.profileText {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0.5em;
  border-radius: 25px;
}

.profileText p {
  font-size: 14px;
}
